<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <title>Title</title>
</head>
<body>
<div id="root"></div>
<script>
//     window.__MOBX_STATE__ = '{"slackChannelId":"@serg.nikolaenko","yandexMetrikaId":"","location":"/","context":{},"data":{"currentRegion":{"id":78,"name":"Санкт-Петербург","url":"sankt-peterburg","is_capital":"false","__typename":"Region"},"defaultRegion":{"id":78,"name":"Санкт-Петербург","url":"sankt-peterburg","is_capital":"false","__typename":"Region"}}}';
   window.__MOBX_STATE__ = '{"location":"/","context":{},"data":{"currentRegion":{"id":77,"name":"Москва","url":"moskva","is_capital":"false","__typename":"Region"},"defaultRegion":null}}';
</script>
</body>
</html>
